<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="blocker__main">

      <div>Essentially, blockers don't work. Please don't rely on them, they don't help you develop control over your emotions in any way, shape or form.</div>

      <!-- FOOTER -->
      <footer class="blocker__footer">
        <div class="blocker__footer__social">
          NeverFap Deluxe is a comprehensive porn addiction recovery platform.
        </div>
      </footer>

    </main>

  </body>
</html>


<!--
// var someone__to__talk__to = document.querySelector('#someone__to__talk__to');
// var need__a__community__to__join = document.querySelector('#need__a__community__to__join');
// var mental__health__services = document.querySelector('#mental__health__services');

// someone__to__talk__to.onclick = function(event) {

// };
// need__a__community__to__join.onclick = function(event) {

// };
// mental__health__services.onclick = function(event) {

// }; -->
