<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="blocker__main">

      <div>Essentially, blockers don't work. Please don't rely on them, they don't help you develop control over your emotions in any way, shape or form.</div>

      <!-- FOOTER -->
      <footer class="blocker__footer">
        <div class="blocker__footer__social">
          NeverFap Deluxe is a comprehensive porn addiction recovery platform.
        </div>
      </footer>

    </main>

  </body>
</html>
